:root{
    /*Cores Principais*/
    --bg: #f3f1f5;

    /*Alerta*/
    --bg-alerta: #ffe5e0;
    --alerta-borda: #ca5100;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box; /* Para o preenchimento lateral funcionar */
}

body {
    background-color: #f3f1f5;
}

header {
    background-color: white;
    width: 22vw;
    min-width: 180px; 
    max-width: 340px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 2vw; /* Padding apenas no topo */
}

/* Container do Logo e Nome */
.empresa {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    width: 65px;
    height: auto;
    margin-right: 15px;
}

.espcs-empresa h1 {
    font-size: 1.2rem;
    margin-bottom: 1px;
    font-weight: 700;
}

.espcs-empresa p{
    font-size: 0.9rem;
    color: #666;
    margin-top: 0;
    margin-bottom: 0;
}

.espcs-empresa h1, .empresa-empresa p{
    margin: 0; /* Remove as margens que o Bootstrap injeta */
    padding: 0;
}

/* Menu */
.menu {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.menu h3 {
    padding: 0 10px;
    margin-bottom: 10px;
    color: #666;
    font-size: 1.2rem;
    font-weight: 700;
}

.menu-lista{
    list-style-type: none;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

.menu-lista p{
    margin-bottom: 0;
}

.abas {
    width: 100%;
}

/* O segredo para ocupar tudo e alinhar a seta */
.abas a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Texto na esquerda, Seta na direita */
    padding: 12px 20px; /* O preenchimento lateral fica aqui */
    width: 100%;
    transition: 0.3s;
}


.abas:hover {
    background-color: #575757;
}

.abas:hover a {
    color: white;
}

/* Classe Ativa ocupando toda a largura */
.abas-ativo {
    background-color: #e2defe;
    width: 100%;
    display: block;
    border-right: 4px solid #6c5ce7;
    color: #6c5ce7 !important;
}

.abas-ativo a {
    text-decoration: none;
    color: black !important;
    display: flex;
    justify-content: space-between; /* Texto na esquerda, Seta na direita */
    transition: 0.3s;
    padding: 12px 20px;
}

/* Seta ajustada dentro do Flexbox */
.seta {
    margin-bottom: 0.5rem;
    width: 16px;
    height: 16px;
    flex-shrink: 0; /* Impede a seta de amassar */
}

.turmas {
    display: none; /*Para não aparecer automático*/
    background-color: #f9f9f9;
    list-style: none;
    padding-left: 0; /* Recuo para parecer subitem */
}

.turmas li a {
    padding: 10px 20px 10px 40px;
    font-size: 0.85rem;
    color: #555 !important;
}

.turmas:hover{
    background-color: #8b8b8b;
    transition: 0.3s;
}

.turmas:hover a{
    color: white !important;
}

/*Quando passar o mouse na aba pai, mostra o submenu das turmas*/
.abas:hover .turmas {
    display: block;
}

.abas-ativo:hover .turmas {
    display: block;
}

/*Gira a seta automaticamente quando o submenu das turmas abrir */
.abas:hover .seta, 
.abas.active .seta {
    transform: rotate(180deg); /*Rotaciona a seta em 180 graus*/
}

.abas-ativo:hover .seta, 
.abas.active .seta {
    transform: rotate(180deg); /*Rotaciona a seta em 180 graus*/
}

.tipo-usuario{
    margin-top: auto;
}

.conteudo-usuario{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
}

.iniciais-usuario{
    background-color: #d9d9d9;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 15px;
    padding-top: 21px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    color:#5512d7;
    font-weight: 700;
    flex-shrink: 0;
}


.informacoes-usuario{
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-left: 0;
    padding-top: 5px;
}

.nome-usuario{
    font-weight: 700;
    margin: 0;
    padding: 0 15px 0 15px;
    margin-top: 15px;
}

.funcao-usuario{
    font-weight: 300;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 2px;
}

.icone-sair{
    margin: 25px 20px auto auto;
    font-size: 30px;
    flex-shrink: 0;
    color: black;
}


/*PARTE DO MAIN - Todo o conteúdo*/

main{
    margin-left: clamp(180px, 22vw, 340px); /*Faz com que o conteúdo se movimente para o lado de forma proporcional ao tamanho da tela --> clamp(valor-mínimo, valor-ideal, valor-máximo)*/
}


.titulo-inicio{
    padding: 30px 20px 5px 20px;
    font-weight: 600;
}

.box-informacoes{
    margin: 10px;
}

.box{
    border: 2px solid #a3a3a3;
    box-shadow: 1px 1px 3px #a3a3a3;
    padding: 0;
    margin: 5px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 400px;
}

.conteudo-box{
    display: flex;
    gap: 2px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0 !important;
    width: 100%;
    padding-right: 0.3rem;
}


.icone{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    flex-shrink: 0;
}

.icone-crianca{
    margin-top: 10px;
}

.icone-presenca{
    background-color: #dee7cd;
    color: #5b8507;
}

.icone-refeicao{
    background-color: #ffdde0;
    color: #870022;
    padding-bottom: 35px;
    height: 30px;
}

.icone-ocorrencia{
    background-color: var(--bg-alerta);
    color: var(--alerta-borda);
}

.nome-da-box{
    margin-bottom: 2px;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 0 15px;
}

.numeros-box{
    margin-bottom: 0px;
    font-weight: 800;
    margin: 0;
    padding-left: 15px;
    font-size: 35px;
}

.informacoes-adicionais-box{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 200;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo-nome-inicio{
    padding: 20px 20px 0 20px;
    font-weight: 600;
    color: #555;
}

.pesquisa{
    margin-left: 57vw;
    width: 20vw !important;
    margin-bottom: 10px;
}

/*Parte depois do título "Minhas Turmas"*/

.link-turma{
    text-decoration: none;
    color: black;
}

.box-turma{
    border: 2px solid #a3a3a3;
    box-shadow: 1px 1px 3px #a3a3a3;
    padding: 0;
    margin: 10px;
    border-radius: 20px;
    min-width: 800px;
    height: 125px;
    display: flex;
}

.conteudo-box-turma{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
}

.iniciais-turma{
    background-color: #d9d9d9;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 15px;
    padding-top: 18px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    color:#5512d7;
    font-weight: 700;
    flex-shrink: 0;
}

.nome-da-turma{
    margin-bottom: 2px;
    font-weight: 700;
    margin: 0;
    padding: 15px 0 0 15px;
}

.escritas-turma{
    margin-top: 5px;
    margin-left: 0px;
}

.icone-seta{
    flex-shrink: 0;
    margin: 25px 0 0 auto;
    font-size: 25px;
}