* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f3f1f5;
    /* Adicionando um padding à esquerda para o conteúdo não ficar sob o header fixo */
    padding-left: 22vw; 
}

header {
    background-color: white;
    width: 22vw;
    min-width: 200px; 
    max-width: 340px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

/* Container do Logo e Nome */
.empresa {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.espcs-empresa h1 {
    font-size: 1.2rem;
    color: #333;
}

.espcs-empresa p, .espcs-empresa h3 {
    font-size: 0.85rem;
    color: #666;
}

/* Menu */
.menu {
    width: 100%;
}

.menu h3 {
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
}

.menu ul {
    list-style-type: none;
    width: 100%;
}

.abas {
    width: 100%;
    margin-bottom: 2px;
}

/* Estilo Base do Link */
.abas a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    width: 100%;
    transition: all 0.3s ease;
}

/* Efeito de Hover (Cinza) - (not) --> Nas abas que não estão selecionadas */
.abas:not(.active):hover {
    background-color: #575757;
}

.abas:not(.active):hover a {
    color: white;
}

/* CLASSE ATIVA (Roxinho) */
.abas.active {
    background-color: #e2defe;
    border-right: 4px solid #6c5ce7; /* Detalhe visual de destaque */
}

.abas.active a {
    color: #6c5ce7 !important;
    font-weight: 600;
}


.seta {
    width: 16px;
    height: 16px;
    flex-shrink: 0; /*Elemento para não amassar a seta*/
    transition: transform 0.3s;
}

.abas:hover .seta {
    transform: translateX(3px); /* Pequena animação ao passar o mouse */
}

/* 1. Esconde o submenu por padrão */
.submenu {
    display: none; 
    background-color: #f9f9f9;
    list-style: none;
    padding-left: 20px; /* Recuo para parecer subitem */
}

.submenu li a {
    padding: 10px 20px;
    font-size: 0.85rem;
    color: #555;
}

/* 2. Quando passar o mouse na aba pai, mostra o submenu */
.abas:hover .submenu {
    display: block;
}

/* 3. Se você quiser que o submenu apareça quando a aba for a ATIVA */
.abas.active .submenu {
    display: block;
}

/* 4. Gira a seta automaticamente quando o submenu abrir */
.abas:hover .seta, 
.abas.active .seta {
    transform: rotate(180deg);
}